{xref_checks, [undefined_function_calls, exports_not_used]}.
{project_app_dirs, ["./*", "."]}.

{relx, [
  {release, {cln, "0.1.1"}, [cln]},
  {dev_mode, false},
  {include_erts, true},
  {include_src, false},
  {extended_start_script, true}
]}.

{profiles, [
  {client, [{relx, [{dev_mode, true}]}]},
  {prod, [{relx, [{dev_mode, false}]}]}
]}.
